In [1]:
import pandas as pd

In [14]:
df = pd.read_excel(r'C:\Users\SVKUSER\Downloads\Attribute DataSet.xlxs.xlsx')

In [15]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [16]:
type(df)

pandas.core.frame.DataFrame

In [31]:
pd.read_excel(r'C:\Users\SVKUSER\Downloads\Attribute DataSet.xlxs.xlsx' , sheet_name = "naveen")

   Average    5     M  Summer     o-neck
0  Average  5.0  free  Summer     o-neck
1      Low  4.6  free  Spring     v-neck
2  Average  4.5     M  Summer     o-neck
3  Average  4.5     L  Spring  boat-neck
4  Average  4.5  free  Autumn     o-neck
5      Low  0.0     M  Summer  boat-neck
6  Average  4.9     M  winter     o-neck

In [35]:
pd.read_excel(r'C:\Users\SVKUSER\Downloads\Attribute DataSet.xlxs.xlsx' , sheet_name = "Adep")

,Average,4.9,M,winter,o-neck,halfsleeve,null,cotton,null.1
0,Average,4.8,M,Summer,o-neck,halfsleeve,NaN,NaN,NaN
1,Low,4.4,L,Summer,o-neck,sleevless,natural,cotton,chiffon
2,Average,4.3,M,winter,slash-neck,sleeveless,natural,polyster,NaN
3,Average,4.7,L,Summer,o-neck,sleevless,natural,polyster,broadcloth
4,Average,0.0,S,Summer,v-neck,sleevless,NaN,NaN,NaN
5,Low,4.4,free,Summer,o-neck,sleevless,NaN,NaN,NaN
6,high,4.3,M,Spring,boat-neck,full,natural,polyster,terry
7,Average,4.8,M,winter,turndowncollor,full,natural,NaN,NaN

In [34]:
pd.read_excel(r'C:\Users\SVKUSER\Downloads\Attribute DataSet.xlxs.xlsx' , sheet_name = "Adep",header=None)

,0,1,2,3,4,5,6,7,8
0,Average,4.9,M,winter,o-neck,halfsleeve,NaN,cotton,NaN
1,Average,4.8,M,Summer,o-neck,halfsleeve,NaN,NaN,NaN
2,Low,4.4,L,Summer,o-neck,sleevless,natural,cotton,chiffon
3,Average,4.3,M,winter,slash-neck,sleeveless,natural,polyster,NaN
4,Average,4.7,L,Summer,o-neck,sleevless,natural,polyster,broadcloth
5,Average,0.0,S,Summer,v-neck,sleevless,NaN,NaN,NaN
6,Low,4.4,free,Summer,o-neck,sleevless,NaN,NaN,NaN
7,high,4.3,M,Spring,boat-neck,full,natural,polyster,terry
8,Average,4.8,M,winter,turndowncollor,full,natural,NaN,NaN

In [40]:
pd.read_excel(r'C:\Users\SVKUSER\Downloads\Attribute DataSet.xlxs.xlsx' , sheet_name = "Adep",header=None, names=['A','b',"c","D","e","f","g","h","i"])

,A,b,c,D,e,f,g,h,i
0,Average,4.9,M,winter,o-neck,halfsleeve,NaN,cotton,NaN
1,Average,4.8,M,Summer,o-neck,halfsleeve,NaN,NaN,NaN
2,Low,4.4,L,Summer,o-neck,sleevless,natural,cotton,chiffon
3,Average,4.3,M,winter,slash-neck,sleeveless,natural,polyster,NaN
4,Average,4.7,L,Summer,o-neck,sleevless,natural,polyster,broadcloth
5,Average,0.0,S,Summer,v-neck,sleevless,NaN,NaN,NaN
6,Low,4.4,free,Summer,o-neck,sleevless,NaN,NaN,NaN
7,high,4.3,M,Spring,boat-neck,full,natural,polyster,terry
8,Average,4.8,M,winter,turndowncollor,full,natural,NaN,NaN

In [41]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [44]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [45]:
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [46]:
df.head(10)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
5,1068332458,bohemian,Low,0.0,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print,0
6,1220707172,Casual,Average,0.0,XL,Summer,o-neck,full,NaN,cotton,NaN,NaN,solid,0
7,1219677488,Novelty,Average,0.0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,NaN,0
8,1113094204,Flare,Average,0.0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1
9,985292672,bohemian,Low,0.0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,NaN,NaN,1

In [47]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [48]:
df.tail(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [49]:
df.tail(10)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
490,641665398,Casual,Low,4.8,free,winter,bowneck,full,natural,polyster,chiffon,bow,solid,0
491,964917582,Casual,Average,5.0,L,Summer,o-neck,sleevless,natural,cotton,NaN,NaN,NaN,1
492,859922576,cute,Average,4.6,M,Spring,o-neck,halfsleeve,natural,acrylic,chiffon,NaN,NaN,0
493,817353671,bohemian,Low,4.6,free,Summer,o-neck,sleevless,natural,cotton,chiffon,none,solid,1
494,990559192,Brief,Average,4.7,M,winter,o-neck,halfsleeve,natural,acrylic,chiffon,NaN,striped,0
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [67]:
pd.read_csv(r'C:\Users\SVKUSER\Downloads\haberman.csv')

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [69]:
pd.read_csv(r'C:\Users\SVKUSER\Downloads\haberman.csv', header=None, names =["a","b","c","d"])

      a   b  c  d
0    30  64  1  1
1    30  62  3  1
2    30  65  0  1
3    31  59  2  1
4    31  65  4  1
..   ..  .. .. ..
301  75  62  1  1
302  76  67  0  1
303  77  65  3  1
304  78  65  1  2
305  83  58  2  2

[306 rows x 4 columns]

In [71]:
pd.read_csv(r'C:\Users\SVKUSER\Downloads\haberman.csv', header=None, names =["Age","patient's year of operation", "number of operation"])

    Age  patient's year of operation  number of operation
30   64                            1                    1
30   62                            3                    1
30   65                            0                    1
31   59                            2                    1
31   65                            4                    1
..  ...                          ...                  ...
75   62                            1                    1
76   67                            0                    1
77   65                            3                    1
78   65                            1                    2
83   58                            2                    2

[306 rows x 3 columns]

In [73]:
pd.read_csv(r'C:\Users\SVKUSER\Downloads\haberman1.csv')

      30@64@1@1
0     30@62@3@1
1     30@65@0@1
2     31@59@2@1
3     31@65@4@1
4    33@58@10@1
..          ...
300   75@62@1@1
301   76@67@0@1
302   77@65@3@1
303   78@65@1@2
304   83@58@2@2

[305 rows x 1 columns]

In [74]:
pd.read_csv(r'C:\Users\SVKUSER\Downloads\haberman1.csv', sep = "@")

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [75]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [76]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Admission.csv')

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [77]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/College.csv')

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [81]:
a = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [82]:
a

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [83]:
type(a)

list

In [86]:
len(a)

1

In [93]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [94]:
pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47941,1326954849,I_kwDOAA0YD85PF7lh,47941,BUG: union of lists of DatetimeIndex generates...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47940,1326765938,PR_kwDOAA0YD848jZeY,47940,DOC: more exchange -> interchange renames,...,NaT,MEMBER,NaN,A few more renames as follow-up on https://git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47939,1326760809,PR_kwDOAA0YD848jYaq,47939,BUG: avoid relying on external packaging packa...,...,NaT,MEMBER,NaN,"I noticed this by accident, and we have a vend...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47938,1326760391,PR_kwDOAA0YD848jYVG,47938,WEB: Accept PDEP-1,...,NaT,MEMBER,NaN,I forgot to accept PDEP-1 before merging #47444,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47937,1326736134,PR_kwDOAA0YD848jTMa,47937,WARN : extended stack level check to include a...,...,NaT,NONE,NaN,- [x] closes #47919 \r\n- [ ] All [code checks...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47936,1326723599,PR_kwDOAA0YD848jQhX,47936,CLN: remove deprecated DEF,...,NaT,MEMBER,NaN,xref https://github.com/cython/cython/issues/4...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47935,1326553093,PR_kwDOAA0YD848itEe,47935,Fix out-of-bounds heap access in internals.pyx.,...,NaT,NONE,NaN,"If blknos is empty, we unconditionally access ...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47934,1326492015,PR_kwDOAA0YD848ig4l,47934,ENH: copy kwd for add_suffix/add_prefix,...,NaT,MEMBER,NaN,- [ ] closes #xxxx (Replace xxxx with the Gith...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47933,1326333380,I_kwDOAA0YD85PDj3E,47933,nightly builds failing since 19 July on MacPyt...,...,NaT,MEMBER,NaN,https://dev.azure.com/pandas-dev/pandas-wheels...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47932,1326170455,PR_kwDOAA0YD848hand,47932,ENH: copy keyword to set_axis,...,NaT,MEMBER,NaN,This also opens the option of deprecating `inp...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47931,1326056096,PR_kwDOAA0YD848hCRM,47931,Update config.yml to add Donate page to the na...,...,NaT,NONE,NaN,It would also be really great to enable GitHub...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47930,1326036755,I_kwDOAA0YD85PCbcT,47930,ENH: Add new date_format option to_json matchi...,...,NaT,NONE,NaN,### Feature Type\r\n\r\n- [X] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47928,1325302562,I_kwDOAA0YD85O_oMi,47928,"Potential issue when running ""python ./scripts...",...,NaT,NONE,NaN,When a user runs the command `python ./scripts...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47927,1325295091,PR_kwDOAA0YD848ee1r,47927,ENH: Support For Interval __contains__ Other I...,...,NaT,CONTRIBUTOR,NaN,- [x] closes #46613\r\n- [x] [Tests added and ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47926,1325249220,PR_kwDOAA0YD848eVEC,47926,TYP: pandas.core.series annotations from panda...,...,NaT,CONTRIBUTOR,NaN,contains also changes in generic/frame.py but ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47925,1325180386,PR_kwDOAA0YD848eG5j,47925,Backport PR #47905: BUG: Fix read_xml raising ...,...,NaT,CONTRIBUTOR,NaN,Manual Backport #47905 \r\n\r\n- [X] [Tests ad...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47924,1325050466,PR_kwDOAA0YD848dre2,47924,DOC: Move whatsnew for indexing regression,...,NaT,MEMBER,NaN,"xref #47921, https://github.com/pandas-dev/pan...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47922,1325033398,PR_kwDOAA0YD848dnpH,47922,DOC: Add pandas-stubs and potential 2.0 API br...,...,NaT,MEMBER,NaN,- [x] All [code checks passed](https://pandas....,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47921,1325007344,PR_kwDOAA0YD848dh-F,47921,Backport PR #45287 on branch 1.4.x (BUG: frame...,...,NaT,MEMBER,NaN,"Backport PR #45287, see https://github.com/pan...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47919,1324959124,I_kwDOAA0YD85O-UWU,47919,"WARN,TST check stacklevel for all warnings",...,NaT,MEMBER,NaN,"Currently, the stacklevel is only checked for ...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47918,1324939192,PR_kwDOAA0YD848dTlI,47918,ERR: Raise TypeError when Series.str.get passe...,...,NaT,CONTRIBUTOR,NaN,- [ ] closes #47911 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47917,1324938330,I_kwDOAA0YD85O-PRa,47917,BUG: groupby.shift not respecting as_index,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47914,1324424482,I_kwDOAA0YD85O8R0i,47914,ENH: moving columns to first or last index of ...,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47913,1323933956,PR_kwDOAA0YD848Z8xf,47913,⬆️ UPGRADE: Autoupdate pre-commit config,...,NaT,CONTRIBUTOR,NaN,<!-- START pr-commits -->\n<!-- END pr-commits...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47911,1323658424,I_kwDOAA0YD85O5Wy4,47911,DOC/TST: pandas.Series.str.get with dict eleme...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47910,1323494729,I_kwDOAA0YD85O4u1J,47910,ENH: Allowing more control over the asserion p...,...,NaT,NONE,NaN,### Feature Type\n\n- [X] Adding new functiona...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47908,1323448835,PR_kwDOAA0YD848YWfB,47908,Fix stacklevel dayfirst warning,...,NaT,MEMBER,NaN,- [ ] closes #47907 (Replace xxxx with the Git...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47907,1323445152,I_kwDOAA0YD85O4iug,47907,BUG: stacklevel from dayfirst warning incorrect,...,NaT,MEMBER,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47901,1322663615,PR_kwDOAA0YD848Vwyp,47901,ENH: Move warnings to error/__init__.py per GH...,...,NaT,CONTRIBUTOR,NaN,- [x] xref #27656. this GitHub issue is being ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47899,1322445397,I_kwDOAA0YD85O0upV,47899,BUG: read_html produce UnicodeEncodeError for ...,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN

In [96]:
js = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [97]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'body', 'reactions', 'timeline_url',
       'performed_via_github_app', 'state_reason', 'draft', 'pull_request'],
      dtype='object')

In [99]:
js['user']

0     {'login': 'btodac', 'id': 45459748, 'node_id':...
1     {'login': 'jorisvandenbossche', 'id': 1020496,...
2     {'login': 'jorisvandenbossche', 'id': 1020496,...
3     {'login': 'datapythonista', 'id': 10058240, 'n...
4     {'login': 'shourya5', 'id': 73142986, 'node_id...
5     {'login': 'fangchenli', 'id': 7614606, 'node_i...
6     {'login': 'hawkinsp', 'id': 348932, 'node_id':...
7     {'login': 'jbrockmendel', 'id': 8078968, 'node...
8     {'login': 'simonjayhawkins', 'id': 13159005, '...
9     {'login': 'jbrockmendel', 'id': 8078968, 'node...
10    {'login': 'logankilpatrick', 'id': 35577566, '...
11    {'login': 'PMLP-novo', 'id': 54025656, 'node_i...
12    {'login': 'joshuabello2550', 'id': 43732414, '...
13    {'login': 'kapiliyer', 'id': 90269125, 'node_i...
14    {'login': 'twoertwein', 'id': 6618166, 'node_i...
15    {'login': 'ParfaitG', 'id': 13602663, 'node_id...
16    {'login': 'phofl', 'id': 61934744, 'node_id': ...
17    {'login': 'mroeschke', 'id': 10647082, 'node_i...
18    {'login': 'phofl', 'id': 61934744, 'node_id': ...
19    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
20    {'login': 'xr-chen', 'id': 56777910, 'node_id'...
21    {'login': 'pablojadz', 'id': 80232633, 'node_i...
22    {'login': 'muhammadshoaib', 'id': 1409327, 'no...
23    {'login': 'github-actions[bot]', 'id': 4189828...
24    {'login': 'BeRT2me', 'id': 54292304, 'node_id'...
25    {'login': 'savente93', 'id': 17224168, 'node_i...
26    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
27    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
28    {'login': 'dataxerik', 'id': 15721311, 'node_i...
29    {'login': 'kouml', 'id': 23252616, 'node_id': ...
Name: user, dtype: object

In [100]:
js['user'][0]

{'login': 'btodac',
 'id': 45459748,
 'node_id': 'MDQ6VXNlcjQ1NDU5NzQ4',
 'avatar_url': 'https://avatars.githubusercontent.com/u/45459748?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/btodac',
 'html_url': 'https://github.com/btodac',
 'followers_url': 'https://api.github.com/users/btodac/followers',
 'following_url': 'https://api.github.com/users/btodac/following{/other_user}',
 'gists_url': 'https://api.github.com/users/btodac/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/btodac/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/btodac/subscriptions',
 'organizations_url': 'https://api.github.com/users/btodac/orgs',
 'repos_url': 'https://api.github.com/users/btodac/repos',
 'events_url': 'https://api.github.com/users/btodac/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/btodac/received_events',
 'type': 'User',
 'site_admin': False}

In [101]:
js['user'][18]

{'login': 'phofl',
 'id': 61934744,
 'node_id': 'MDQ6VXNlcjYxOTM0NzQ0',
 'avatar_url': 'https://avatars.githubusercontent.com/u/61934744?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/phofl',
 'html_url': 'https://github.com/phofl',
 'followers_url': 'https://api.github.com/users/phofl/followers',
 'following_url': 'https://api.github.com/users/phofl/following{/other_user}',
 'gists_url': 'https://api.github.com/users/phofl/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/phofl/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/phofl/subscriptions',
 'organizations_url': 'https://api.github.com/users/phofl/orgs',
 'repos_url': 'https://api.github.com/users/phofl/repos',
 'events_url': 'https://api.github.com/users/phofl/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/phofl/received_events',
 'type': 'User',
 'site_admin': False}

In [102]:
js['user'][20]

{'login': 'xr-chen',
 'id': 56777910,
 'node_id': 'MDQ6VXNlcjU2Nzc3OTEw',
 'avatar_url': 'https://avatars.githubusercontent.com/u/56777910?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/xr-chen',
 'html_url': 'https://github.com/xr-chen',
 'followers_url': 'https://api.github.com/users/xr-chen/followers',
 'following_url': 'https://api.github.com/users/xr-chen/following{/other_user}',
 'gists_url': 'https://api.github.com/users/xr-chen/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/xr-chen/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/xr-chen/subscriptions',
 'organizations_url': 'https://api.github.com/users/xr-chen/orgs',
 'repos_url': 'https://api.github.com/users/xr-chen/repos',
 'events_url': 'https://api.github.com/users/xr-chen/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/xr-chen/received_events',
 'type': 'User',
 'site_admin': False}

In [103]:
js['user'][6]

{'login': 'hawkinsp',
 'id': 348932,
 'node_id': 'MDQ6VXNlcjM0ODkzMg==',
 'avatar_url': 'https://avatars.githubusercontent.com/u/348932?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/hawkinsp',
 'html_url': 'https://github.com/hawkinsp',
 'followers_url': 'https://api.github.com/users/hawkinsp/followers',
 'following_url': 'https://api.github.com/users/hawkinsp/following{/other_user}',
 'gists_url': 'https://api.github.com/users/hawkinsp/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/hawkinsp/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/hawkinsp/subscriptions',
 'organizations_url': 'https://api.github.com/users/hawkinsp/orgs',
 'repos_url': 'https://api.github.com/users/hawkinsp/repos',
 'events_url': 'https://api.github.com/users/hawkinsp/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/hawkinsp/received_events',
 'type': 'User',
 'site_admin': False}

In [105]:
df = pd.read_excel(r'C:\Users\SVKUSER\Downloads\Attribute DataSet.xlxs.xlsx')

In [106]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [108]:
df.to_json('test123.json')

In [107]:
pwd

'C:\\Users\\SVKUSER'

In [110]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [ ]:
df.to_csv('E://test123.csv', sep = "@")

In [ ]:
df.to_csv('E://test1234.csv', sep ="#", index =False)

In [ ]:
Mysql:
    1.create a table for attributes dataset  and dress dataset
    2.do a bulk load for these two table for respective dataset
    3.read these dataset in pandas as a dataframe
    4.convert attribute dataset in json format
    5. store this dataset into mongodb
    6.in sql task try to perform left join operation with attribute dataset and dress dataset on coloum dress_id
    7.write a sql qure to find out how many unique dress that we have based on dress id
    8.Try to find out how many dress is having recommendation 0
    9.try to find out total dress sell for individual dress id
    10.try to find out a third highest most selling dress id